@import "tailwindcss";

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 1.2s ease-out forwards;
}

@font-face {
    font-family: 'Cylburn';
    src: url('/fonts/Cylburn.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.font-cy {
    font-family: 'Cylburn', cursive;
}